#root {
	height: 100vh;
}

.app-root {
	width: 100%;
	height: 100%;

	position: relative;
}

.leaflet-container {
	height: 100%;
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;

	width: 25%;
	height: 100%;
	padding: 20px;
	background-color: #fff;
}

.section-title {
	background-color: #dfdfdf;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 15px;
}

.section-title__title {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0;
}

.section-title__icon {
	margin-right: 15px;
}

.location-info {
	padding: 15px;
	background-color: #f5f5f5;
	border-radius: 10px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.location-info__title {
	font-size: 1.2rem;
}

.location-info__location {
	color: rgba(0,0,0,0.7);
	font-style: italic;
	margin-bottom: 0;
}

.location-info__delete-btn {
	margin-left: 10px;
}

.locations-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.locations-sidebar__locs-list {
	overflow-y: auto;
}